body{
background-image: url(images/web.jpg);

height: 1000px;
background-size: cover;

flex: auto;
flex-wrap: wrap;
}

.jumbotron{
  font-family:monospace;
  overflow: hidden;

}



footer{
  width: 100%;
  height: 40%;
  color:white;
  flex: auto;
  flex-wrap: wrap;
}
 .stuff{
  width: 100%;


  color:white;

}

.icons{
  height: 30px;
  width: 15%;
  color: white;
  float: right;

}
.darkydark:hover img{
  filter: invert(100%);
}



.animatedresume{
  height: 300px;
  width: 500px;
  animation-name: grow;
  animation-duration: 5s;

}


@keyframes grow {
  0%{transform: scale(0.2)}
  100%{transform: scale(1.0);}

}




.doc {
font-family:monospace;
    max-width: 100%;
    overflow: hidden;
    font-size:15px;
    color:white;

}

.typing {
    width: 100%;
    overflow: hidden;
    animation: typeIt 30s steps(6);
}



@keyframes typeIt {
    0% {
        top: 0;
        height: 2em;}
    100% {
        top: -20em;
        height: 30em;
    }
}


.rights{
  font-size: 12px;
}
